body {
	background-color: white;
	font-family: courier;  

}

#primaryHeader{
	height: auto;
	width: 100%;
	position: relative;
}
#oasis{
	position: relative;
	width: 100%;

}
#hiSam{
	left: 0;
	position: absolute;
	text-align: center;
	top: 30px;
	width: 100%;
	color: black;
}

#me{
	position: absolute;
	margin: 10px 150px 100px 150px;
}
table{
	text-align: center;
	width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
table tr td img {
	width: 120px;
	height: auto;
}
#weather{

	background-color: blue;
	text-align: center;
	padding: 20px;
}
